<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span3">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <% if !@user.admin %>
  <aside class="span8">
  	<section>
  		  <table>
          <tr>
            <th align="right">Project name: </th>
            <td align="left" margin-left="10px"><%= @project.name %> </td>
          </tr>
          <tr>
            <th align="right">Description: </th>
            <td><%= @project.description %></td>
          </tr>
        </table>
  	</section>
  </aside>
  <% end %>
</div>
